@model Template.BL.Models.DepartmentVM


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Employee</h2>


<form asp-action="Edit" asp-controller="Department" class="form-group">


    <input type="hidden" asp-for="Id" />
    

    <label asp-for="Name">Department Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
    <br />

    <label asp-for="salary">Department Code</label>
    <input type="text" class="form-control" asp-for="salary" />
    <span asp-validation-for="salary" class="text-danger font-weight-bold"></span>
    <br />

    <center>
        <input type="submit" value="Edit" class="btn btn-primary" />
        <a asp-controller="Department" asp-action="Index" class="btn btn-primary">Back To Data</a>

    </center>

</form>

@section JqueryValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
